# Values in here override the defaults in the GthxNetBot/appsettings.json file
# You can modify these values to suit your needs or make environment variables with these names
# to override
IrcInfo__Channels=#gthxtestchannel
IrcInfo__Nick=gthxtester
IrcInfo__Password=
IrcInfo__RealName=
IrcInfo__Server=irc.libera.chat

# Connection string for MariaDB or SQL Server
ConnectionStrings__GthxDb=

# Use either sqlserver or mariadb
ConnectionStrings__GthxDb_Type=sqlserver

EmailConfiguration__UserName=
EmailConfiguration__Password=
EmailConfiguration__MailServer=
EmailConfiguration__Port=

